@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Pirata One';
  src: url('../fonts/PirataOne-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.font-custom {
  font-family: 'Pirata One', sans-serif;
}
